.search-section {
    margin: 6rem 4rem;
    height: calc(100vh - 400px);
}

.search-input {
    border: 1px solid var(--black);
    font-size: 2.5rem;
    padding: 0.5rem 0.2rem;
}

.search-input:focus {
    outline: none;
}

.btn-search {
    font-size: 2.5rem;
    border-left: 0;
    border-top: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 3rem;
    transition: all 0.2s;
    cursor: pointer;
}

.btn-search:hover {
    background-color: transparent;
    color: var(--black);
}

.search-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

@media(width < 600px) {
    .search-section>form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn-search {
        border-left: 1px solid var(--black);
    }

    .search-input {
        max-width: 90%;
    }
}